<div class="modal fade" data-bs-backdrop="static" id="<%=id%>">

    <div class="modal-dialog">

        <div class="modal-content">
        
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="dialog-title"><%=title%></h1>
            </div>

            <div class="modal-body">
                <p class="dialog-text"><%=text%></p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" value="cancel">Cancel</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" value="ok" onclick=<%=onclick%> >OK</button>
            </div>

        </div>

    </div>

</div>