<div class="side-bar">

    <div class="w-100 p-4 mb-4 text-white">
        <span class="pe-3 menu-icon"><i class="bi bi-archive"></i></span>
        <span class="menu-text">Inventory Manager</span>
    </div>

    <ul class="nav flex-column">
        
        <li class="nav-item text-white">
            <a class="nav-link" href="/">
                <span class="pe-3 menu-icon"><i class="bi bi-house-door"></i></span>
                <span class="menu-text">Home</span>
            </a>
        </li>
        
        <li class="nav-item">
            <a class="nav-link" href="/inventory">
                <span class="pe-3 menu-icon"><i class="bi bi-collection"></i></i></span>
                <span class="menu-text">Inventory</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/items">
                <span class="pe-3 menu-icon"><i class="bi bi-files"></i></span>
                <span class="menu-text">Items</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/attributes">
                <span class="pe-3 menu-icon"><i class="bi bi-tags"></i></span>
                <span class="menu-text">Attributes</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/users">
                <span class="pe-3 menu-icon"><i class="bi bi-people"></i></span>
                <span class="menu-text">Users</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/help">
                <span class="pe-3 menu-icon"><i class="bi bi-question-circle"></i></span>
                <span class="menu-text">Help</span>
            </a>
        </li>
    </ul>

</div>