<div class="toast-container position-fixed">

    <div class="toast text-bg-success" role="alert" aria-live="assertive" aria-atomic="true" id="toast-success">
        <div class="d-flex">
            <div class="toast-body" id="toast-success-message">
              Success message.
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
  
    <div class="toast text-bg-danger" role="alert" aria-live="assertive" aria-atomic="true" id="toast-error">
        <div class="d-flex">
            <div class="toast-body" id="toast-error-message">
              Error message.
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>

</div>