<div class="top-bar px-3 d-flex flex-row justify-content-between align-items-center overflow-hidden bg-body-tertiary shadow-sm">
   
    <span class="display-6" style="cursor: pointer;" id="menu-toggle"><i class="bi bi-list"></i></span>
    
    <div><%= name %></div>

    <form action="/logout?_method=DELETE" method="POST">
        <button class="btn btn-primary" type="submit">Log Out</button>
    </form>

    <svg class="barcode"
        jsbarcode-format="code128"
        jsbarcode-value="<%= name %>"
        jsbarcode-textmargin="0"
        jsbarcode-fontoptions="bold">
    </svg>

</div>