<div class="top-bar px-3 d-flex flex-row justify-content-between">
    <span class="d-flex align-items-center display-6"><i class="bi bi-list"></i></span>
    <div class="d-flex align-items-center"><%= name %></div>
</div>