<%- include('./partials/head', {title: 'KA Demo Inventory - Inventory'}); %>
    
    <div class="container-fluid p-0 h-100">

        <%- include('./partials/side-bar', {active: 'inventory'}); %>

        <div class="main">

            <%- include('./partials/top-bar'); %>

            <div class="p-2">

                <h3>Inventory</h3>

            </div>

        </div>

    </div>

<%- include('./partials/foot'); %>