<%- include('./partials/head', {title: 'KA Demo Inventory - Items'}); %>
    
    <div class="container-fluid p-0 h-100">

        <%- include('./partials/side-bar'); %>

        <%- include('./partials/top-bar'); %>

        <div class="main">
            <h3>Items</h3>
        </div>

    </div>

<%- include('./partials/foot'); %>